name: Deploy to GitHub Pages (official actions)

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Configure GitHub Pages
      uses: actions/configure-pages@v3

    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: ./

  deploy:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: https://$GITHUB_REPOSITORY_OWNER.github.io/${{ github.event.repository.name }}

    steps:
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v1
